<ul class="nav nav-underline">
    <img class="my-1" src="https://static.vecteezy.com/system/resources/previews/000/403/514/original/pink-beauty-store-logo-cosmetics-vector.jpg" alt="">
    <h3 style="margin-top: 35px;">Product Store</h3>
    <li class="nav-item">
      <a class="nav-link main" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contact</a>
    </li>
  </ul>
