
input{
    border:  outset ;
    border-radius: 30px;
    padding: 5px 20px;
    width: 95%;
}
i{
    font-size: 25px;
    color: grey;
}
img{
    width: 250px;
    height: 200px;
    object-fit: contain;
    border-radius: 30%;
}
.btn{
    margin-top: 130px;
}
.list-group{
    width: 450px;
}
button{
    color: black;
    background-color: transparent;
    padding: 5px 5px;
    border-radius: 10px;
}
.card:hover{
    background-color: rgba(250, 235, 215, 0.308);
}
.card:hover button{
    background-color: antiquewhite;
    color: black;
}
body{
    background-color: aliceblue;
}
.row{
    margin-left: 70px;
}
h4,h5,h6,p{
    text-justify: center;
}

