<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-5">
                <img width="420px" src="https://th.bing.com/th/id/R.e96520439e9867e64a7164fee0a48a01?rik=tSXfQRdYIBOZdA&riu=http%3a%2f%2ffindcommonground.org%2fimages%2fforums%2fsearching.gif&ehk=pvVEWs8tMczutWkXqKPh9lFVOTNo%2fks7O%2f9ywneX0bI%3d&risl=&pid=ImgRaw&r=0" alt="">
                <h1 class="my-5">404! Page Not Found...!!!</h1>
                <p class="my-5">The page you searching can not be found .........!!!!</p>
            </div>
        </div>
    </div>
    
</body>
</html>